<button
  [nzDropdownMenu]="menu"
  [nzTrigger]="'click'"
  nz-button
  nz-dropdown
  nzPlacement="bottomLeft"
>
  <i
    nz-icon
    nzType="plus-circle"
  ></i>
  {{ wording.choose | translate }}
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li
      (click)="choose(machine)"
      *ngFor="let machine of machines"
      nz-menu-item
    >
      <i
        [nzType]="'box-plot'"
        nz-icon
      ></i>
      {{ machine.name }}
    </li>
  </ul>
</nz-dropdown-menu>
<google-chart
  [data]="chart.data"
  [options]="chart.options"
  [title]="chart.title"
  [type]="chart.type"
  *ngIf="current"
  #googlechart
>
</google-chart>
