<app-steps *ngIf="item.type === WidgetType.Steps"></app-steps>
<app-bars *ngIf="item.type === WidgetType.Bars"></app-bars>
<app-circles *ngIf="item.type === WidgetType.Circles"></app-circles>
<app-todo *ngIf="item.type === WidgetType.Todo"></app-todo>
<app-chart
  [widget]="item"
  *ngIf="item.type === WidgetType.Chart"
></app-chart>
<app-feed *ngIf="item.type === WidgetType.Feed"></app-feed>
<div
  class="overlay"
  *ngIf="editMode"
>
  <button
    (click)="deleteWidget.emit()"
    nz-button
    nzType="default"
  >
    <i
      nz-icon
      nzType="delete"
    ></i>
  </button>
</div>
