<app-grid
  [editMode]="editMode | async"
  [items]="dashboardWidgetItems | async"
  [options]="options"
  (deleteWidget)="deleteWidget($event)"
></app-grid>
<div class="edit-save-buttons">
  <button
    [disabled]="(editMode | async)"
    [nzDropdownMenu]="menu"
    [nzTrigger]="'click'"
    nz-button
    nz-dropdown
    nzPlacement="bottomRight"
    nzType="default"
  >
    <i
      nz-icon
      nzType="plus-circle"
    ></i>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        [attr.data-widget-item]="widgetListItem.name"
        (click)="addWidget(widgetListItem.type)"
        *ngFor="let widgetListItem of widgetsList"
        nz-menu-item
      >
        <i
          [nzType]="widgetListItem.icon"
          nz-icon
        ></i>
        {{ widgetListItem.name }}
      </li>
    </ul>
  </nz-dropdown-menu>
  <button
    [id]="(editMode | async) ? 'save-btn': 'edit-btn'"
    (click)="toggleGrid()"
    nz-button
    nzType="default"
  >
    <i
      [nzType]="(editMode | async) ? 'save': 'edit'"
      nz-icon
    ></i>
  </button>
</div>
