.ant-btn:focus,
.ant-btn:hover {
  color: #3f4350;
  border-color: #3f4350;
}

.ant-input:focus,
.ant-input:hover {
  color: #3f4350;
  border-color: #3f4350;
}

.ant-input:focus {
  box-shadow: 0 0 0 2px rgba(144, 144, 144, .2);
}

.ant-select-selection:hover {
  color: #3f4350;
  border-color: #3f4350;
}


.ant-select-focused .ant-select-selection,
.ant-select-selection:active,
.ant-select-selection:focus,
.ant-pagination-item-active {
  color: #3f4350;
  border-color: #3f4350;
  background-color: #fff;

}

.ant-select-dropdown-menu-item:hover {
  background-color: #d0d0d0;
}

.ant-btn-danger {
  color: #af2e08;
  background-color: #fff;
}

.ant-btn-danger:hover {
  color: #af2e08;
  border-color: #af2e08;
  background-color: #fff;
}

.ant-btn-primary {
  color: rgba(0, 0, 0, .65);
  border-color: #d9d9d9;
  background-color: #fff;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: #3f4350;
  border-color: #3f4350;
  background-color: #fff;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #3f4350;
}

.ant-select-open .ant-select-selection {
  border-color: #3f4350;
  box-shadow: 0 0 0 2px rgba(144, 144, 144, .2);
}

.ant-radio-checked .ant-radio-inner {
  border-color: #757575;
}

.ant-radio-inner:after {
  background-color: #757575;
}

.ant-radio-focused .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner {
  border-color: #757575;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #757575;
  border-color: #757575;
}

.ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #757575;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #757575;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #d0d0d0;
}

.ant-progress-bg,
.ant-progress-success-bg {
  background-color: #3f4350;
}

.ant-pagination-item-active,
.ant-pagination-item-active:hover,
.ant-pagination-item-active:focus,
.ant-pagination-item .ant-pagination-item-active,
.ant-pagination-item:hover,
.ant-pagination-options-quick-jumper:hover input,
.ant-pagination-options-quick-jumper:focus input {
  border-color: #3f4350;
  color: #3f4350;
}


.ant-pagination-prev a:hover,
.ant-pagination-next a:hover {
  border-color: #3f4350;
  color: #3f4350;
}

.ant-pagination-item-active a,
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #3f4350;
}

.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #3f4350;
}

:root .ant-dropdown-link>.anticon:not(.anticon-ellipsis),
:root .ant-dropdown-trigger>.anticon:not(.anticon-ellipsis) {
  font-size: unset;
}
