<form
  nz-form
  [formGroup]="form"
  (ngSubmit)="submitForm(form.value)"
>
  <nz-form-item>
    <div>
      <nz-form-control
        nzHasFeedback
        nzErrorTip="Please input your old password!"
      >
        <input
          nz-input
          type="password"
          (ngModelChange)="validateConfirmPassword()"
          formControlName="oldPassword"
          placeholder="Old password"
          autocomplete="off"
        >
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item>
    <div>
      <nz-form-control
        nzHasFeedback
        [nzErrorTip]="newPasswordErrorTpl"
      >
        <input
          nz-input
          type="password"
          (ngModelChange)="validateConfirmPassword()"
          formControlName="newPassword"
          placeholder="New password"
          autocomplete="off"
        >
        <ng-template
          #newPasswordErrorTpl
          let-control
        >
          <ng-container *ngIf="control.hasError('minlength');then minLengthTpl; else requiredTpl"></ng-container>
          <ng-template #minLengthTpl>
            Password must contain minimum 4 letters!
          </ng-template>
          <ng-template #requiredTpl>Please input a new password!</ng-template>
        </ng-template>
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      nzHasFeedback
      [nzErrorTip]="confirmPasswordErrorTpl"
    >
      <input
        nz-input
        type="password"
        formControlName="confirmPassword"
        (ngModelChange)="validateConfirmPassword()"
        placeholder="Confirm password"
        autocomplete="off"
      >
      <ng-template
        #confirmPasswordErrorTpl
        let-control
      >
        <ng-container *ngIf="control.hasError('mismatch')">Password is inconsistent!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        nzType="primary"
        [disabled]="!form.valid"
      >
        Submit
      </button>
      <button
        nz-button
        (click)="resetForm($event)"
      >
        Reset
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
