<div
  class="notice"
  *ngIf="items.length === 0"
>
  {{wording.clickOnThe | translate}}
  <i
    nz-icon
    nzType="plus-circle"
  >
  </i>
  {{wording.inOrderToAddWidget | translate}}
</div>
<gridster
  [options]="options"
  #grid
>
  <gridster-item
    [id]="'widget-'+ item.id"
    [item]="item"
    *ngFor="let item of items"
  >
    <app-widgets-container
      [editMode]="editMode"
      [item]="item"
      (deleteWidget)="deleteWidget.emit(item)"
    >
    </app-widgets-container>
  </gridster-item>






</gridster>
