:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// .add-button {
//   display: flex;
//   justify-content: flex-end;

//   button {
//     margin: 20px;
//   }
// }

.settings-dropdown-btn {
  float: right;
}


.btn-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


  button:first-child {
    margin-right: 4px;
  }
}

.nv-busy {
  &:after {
    z-index: 1;
  }
}
