:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.demo-infinite-container {
  height: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

nz-list {
  padding: 24px;
  overflow: auto;
}

.counter {
  margin-right: 5px;
}

input {
  padding-right: 90px !important;
}

nz-result {
  padding: 0px;
}

nz-result::ng-deep .ant-result-icon>.anticon {
  font-size: 40px;
}


nz-result::ng-deep .ant-result-icon {
  margin-bottom: 0px;
}

nz-list-item-meta{
  align-items: center;
}
