<div
  class="notifications"
  [(nzVisible)]="visible"
  [nzPopoverContent]="logsList"
  [nzPopoverTitle]="title"
  [nzPopoverTrigger]="'click'"
  (nzVisibleChange)="popoverVisibilityChanged($event)"
  nz-popover
  nzOverlayClassName="logs"
  nzPopoverPlacement="bottomRight"
>
  <nz-badge
    [nzCount]="unseenCount$ | async"
    [nzStyle]="{
      'background-color': notificationColor,
      border: 'none',
      'box-shadow': 'none',
      display: !(unseenCount$ | async) ? 'none' : 'initial'
  }"
  >
    <i
      class="notification-icon"
      [nzType]="icon"
      nz-icon
    ></i>
  </nz-badge>
</div>









<ng-template #logsList>
  <div class="fb popover-content">
    <div
      class="fb"
      *ngIf="!(logs | async)?.length"
      style="height: 200px; align-items: center; justify-content: center;"
    >
      There are currently no notifications for you.
    </div>
    <div
      class="notification"
      [ngClass]="{'unseen-notification': log.unseen}"
      *ngFor="let log of logs | async"
      nz-row
      nzType="flex"
      nzJustify="start"
      nzAlign="middle"
    >









      <div class="fb avatar-wrapper">
        <!-- <nv-mini-avatar [user]="log.user"></nv-mini-avatar> -->
      </div>
      <div class="fb content">
        <div class="fb extra-info">
          <div class="fb date">
            {{ log.date | date: ((settingsService.locale | async) | dateFormat) }}
          </div>
        </div>
        <div
          class="fb message"
          [innerHTML]="(log.message | translate)"
        ></div>
      </div>
    </div>
  </div>
</ng-template>
