<div
  nz-popover
  [nzPopoverTitle]="(wording.notifications | translate)"
  nzOverlayClassName="logs"
  class="notifications"
  [nzContent]="logsList"
  nzPopoverPlacement="bottomRight"
  (nzVisibleChange)="popoverVisibilityChanged($event)"
  nzTrigger="click"
  [(nzVisible)]="visible"
>
  <nz-badge
    [nzCount]="unseenCount$ | async"
    [nzStyle]="{
    'background-color': '#46bdca',
    border: 'none',
    'box-shadow': 'none',
    display: !(unseenCount$ | async) ? 'none' : 'initial'
  }"
  >
    <i
      nz-icon
      nzType="bell"
      class="notification-icon"
    ></i>
  </nz-badge>
</div>

<ng-template #logsList>
  <div class='fb popover-content'>
    <div
      class='fb'
      *ngIf="!(logs | async)?.length"
      style="height: 200px; align-items: center; justify-content: center;"
    >
      There are currently no notifications for you.
    </div>
    <div
      *ngFor="let log of logs | async"
      class="notification"
      nz-row
      nzType="flex"
      nzJustify="start"
      nzAlign="middle"
      [ngClass]="{'unseen-notification': log.unseen}"
    >

      <div class='fb avatar-wrapper'>
        <!-- <nv-mini-avatar [user]="log.user"></nv-mini-avatar> -->
      </div>
      <div class='fb content'>
        <div class='fb extra-info'>
          <div class='fb date'>{{ log.date | date }}</div>
        </div>
        <div
          class="fb message"
          [innerHTML]="(log.message | translate)"
        ></div>
      </div>
    </div>
  </div>
</ng-template>
