<nz-input-group [nzSuffix]="suffixIconSearch">
  <input
    (input)="filter()"
    type="text"
    #input
    nz-input
  >
</nz-input-group>
<ng-template #suffixIconSearch>
  <div class="counter">
    {{ (feeds | async).length}} / {{ (originalFeeds | async).length }}
  </div>
  <i
    nz-icon
    nzType="search"
  ></i>
</ng-template>
<nz-list>
  <nz-list-item *ngFor="let item of feeds | async">
    <nz-skeleton
      [nzAvatar]="true"
      [nzParagraph]="{ rows: 1 }"
      *ngIf="!item"
    ></nz-skeleton>
    <nz-list-item-meta
      [nzAvatar]="nzAvatar"
      [nzDescription]="item.email"
      [nzTitle]="nzTitle"
      *ngIf="item"
    >
      <ng-template #nzAvatar>
        <!-- <nz-avatar
          nzIcon="user"
          style="background-color:#87d068;"
        ></nz-avatar> -->
        <nz-result [nzStatus]="item.status"></nz-result>
      </ng-template>
      <ng-template #nzTitle>
        <a>{{ item.name.last }}</a>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
