<div class="login-box">
  <div class="title">
    <i
      nz-icon
      nzType="user"
    ></i>
  </div>
  <form [formGroup]="form">
    <input
      type="text"
      formControlName="username"
      nzSize="small"
      nz-input
    >
    <input
      type="password"
      formControlName="password"
      nzSize="small"
      nz-input
      autocomplete="off"
    >
    <button
      [disabled]="!form.valid"
      (click)="login()"
      nz-button
    >
      <i
        nz-icon
        nzType="login"
      ></i>
      Login
    </button>












  </form>
  <a
    class="forgot-password"
    routerLink="/auth/registration"
  >
    Forgot Password?
  </a>
</div>
<div class="background-image"></div>
